Repository liesel-devs/liesel, pull requests merged in 2023-09, with the labels that each got.

#84 Address #78
  liesel/model/nodes.py
  tests/model/test_node.py
Labels: enhancement

#72 Goose-based Initialization strategies
  liesel/goose/builder.py
  liesel/goose/types.py
  liesel/model/distreg.py
  tests/goose/test_builder.py
  tests/goose/test_engine.py
Labels: enhancement, comp:goose

#100 Adapt to blackjax 1.0.0
  liesel/goose/hmc.py
  liesel/goose/nuts.py
  setup.cfg
Labels: comp:goose
