Repository liesel-devs/liesel, pull requests merged in 2023-02, with the labels that each got.

#25 Use variable instead of node names in dist_reg_mcmc(), closes #22
  docs/source/tutorials/md/02-ls-reg_files/figure-commonmark/unnamed-chunk-5-1.png
  docs/source/tutorials/md/03-gev.md
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-1.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-2.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-3.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-4.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-5.png
  docs/source/tutorials/md/04-mcycle.md
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-1.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-2.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-3.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-4.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-5.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-6.png
  docs/source/tutorials/qmd/03-gev.qmd
  docs/source/tutorials/qmd/04-mcycle.qmd
  liesel/model/distreg.py
  tests/model/test_distreg.py
Labels: enhancement, comp:model

#27 Keep compiled tutorials out
  .github/workflows/quarto.yml
  docs/source/conf.py
  docs/source/tutorials/md/.gitignore
  docs/source/tutorials/md/01-lin-reg.md
  docs/source/tutorials/md/01-lin-reg_files/figure-commonmark/unnamed-chunk-15-3.png
  docs/source/tutorials/md/01-lin-reg_files/figure-commonmark/unnamed-chunk-26-5.png
  docs/source/tutorials/md/01-lin-reg_files/figure-commonmark/unnamed-chunk-27-7.png
  docs/source/tutorials/md/01-lin-reg_files/figure-commonmark/unnamed-chunk-3-1.png
  docs/source/tutorials/md/01a-transform.md
  docs/source/tutorials/md/01a-transform_files/figure-commonmark/unnamed-chunk-3-1.png
  docs/source/tutorials/md/01a-transform_files/figure-commonmark/unnamed-chunk-5-3.png
  docs/source/tutorials/md/01a-transform_files/figure-commonmark/unnamed-chunk-7-5.png
  docs/source/tutorials/md/02-ls-reg.md
  docs/source/tutorials/md/02-ls-reg_files/figure-commonmark/unnamed-chunk-11-5.png
  docs/source/tutorials/md/02-ls-reg_files/figure-commonmark/unnamed-chunk-14-7.png
  docs/source/tutorials/md/02-ls-reg_files/figure-commonmark/unnamed-chunk-5-1.png
  docs/source/tutorials/md/02-ls-reg_files/figure-commonmark/unnamed-chunk-9-3.png
  docs/source/tutorials/md/03-gev.md
  docs/source/tutorials/md/04-mcycle.md
  docs/source/tutorials/md/05-reproducibility.md
  docs/source/tutorials/qmd/04-mcycle.qmd
  docs/source/tutorials/qmd/_quarto.yml
  setup.cfg
Labels: documentation, comp:tutorials

#28 make groups immutable
  liesel/model/__init__.py
  liesel/model/distreg.py
  liesel/model/model.py
  liesel/model/nodes.py
  tests/model/test_graph_builder.py
  tests/model/test_group.py
  tests/model/test_model.py
  tests/model/test_var.py
Labels: enhancement, comp:model

#29 Improve uniqueness checks for group names
  liesel/model/model.py
  tests/model/test_graph_builder.py
  tests/model/test_model.py
Labels: enhancement, comp:model

#30 Add labels to tutorial code chunks
  docs/source/tutorials/md/03-gev_files/figure-commonmark/model-1.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/spline-11.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-1.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-2.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-3.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-4.png
  docs/source/tutorials/md/03-gev_files/figure-commonmark/traces-5.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-spline-13.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-1.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-2.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-3.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-4.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-5.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/iwls-traces-6.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/model-1.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/nuts-spline-17.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/nuts-traces-10.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/nuts-traces-5.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/nuts-traces-6.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/nuts-traces-7.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/nuts-traces-8.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/nuts-traces-9.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/transformed-graph-3.png
  docs/source/tutorials/md/04-mcycle_files/figure-commonmark/untransformed-graph-1.png
  docs/source/tutorials/qmd/01-lin-reg.qmd
  docs/source/tutorials/qmd/01a-transform.qmd
  docs/source/tutorials/qmd/02-ls-reg.qmd
  docs/source/tutorials/qmd/Makefile
Labels: documentation, comp:tutorials

#36 Allow docs to be built locally
  docs/source/conf.py
Labels: documentation

#38 Sample from mvn degenerate distribution
  liesel/distributions/mvn_degen.py
  tests/distributions/test_mvn_degen.py
Labels: enhancement, comp:tfp
