Repository liesel-devs/liesel, pull requests merged in 2024-04, with the labels that each got.

#175 A function for applying stochastic gradient descent to a Liesel model
  .pre-commit-config.yaml
  docs/source/goose.rst
  liesel/goose/__init__.py
  liesel/goose/optim.py
  setup.cfg
  tests/goose/test_optim.py
Labels: enhancement, comp:goose

#187 Update logging setup
  CHANGELOG.md
  liesel/logging.py
Labels: enhancement

#186 Turn off update_on_init for special model nodes
  CHANGELOG.md
  liesel/model/model.py
Labels: bug

#168 Fixes unexpected behaviour in plot_vars when using an intermediate Calc
  CHANGELOG.md
  liesel/model/viz.py
Labels: bug, comp:model
