Repository liesel-devs/liesel, pull requests merged in 2024-12, with the labels that each got.

#226 Update linear regression tutorial and readme
  .github/README.md
  .github/README.qmd
  docs/source/tutorials/md/01-lin-reg.md
  docs/source/tutorials/qmd/01-lin-reg.qmd
Labels: comp:documentation

#224 Add some informative errors (closes #222, #219)
  liesel/goose/builder.py
  liesel/model/nodes.py
  tests/goose/test_engine.py
  tests/model/test_node.py
Labels: comp:goose, comp:model

#223 Transform Variables Without Distributions (closes #216)
  liesel/model/model.py
  liesel/model/nodes.py
  tests/model/test_model.py
  tests/model/test_var.py
Labels: comp:model

#228 Fixes issue with custom log prob in liesel models
  liesel/model/model.py
  tests/model/test_custom_log_prob.py
Labels: bug, comp:model
