Repository liesel-devs/liesel, pull requests merged in 2025-05, with the labels that each got.

#248 Add Model.sample and Var.sample
  src/liesel/model/model.py
  src/liesel/model/nodes.py
  tests/model/test_model.py
  tests/model/test_var.py
Labels: comp:model

#281 Fix optim indexing
  src/liesel/goose/optim.py
  tests/goose/test_optim.py
Labels: bug, comp:goose

#284 fixes tutorials
  docs/source/tutorials/qmd/03-gev.qmd
  docs/source/tutorials/qmd/04-mcycle.qmd
  src/liesel/model/distreg.py
  src/liesel/model/nodes.py
Labels: bug

#286 fixes grammar in tutorial
  docs/source/_templates/autosummary/class-without-inheritance-strict.rst
Labels: comp:documentation
